@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    text-align: center;
    font-family: 'Fredoka', "Open Sans";
}
h1{
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colour 5s ease infinite;
}
@keyframes colour{
  0%{
    background: linear-gradient(45deg, #0e51fa, #8092f9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20%{
    background: linear-gradient(45deg, #8092f9, #2260ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40%{
    background: linear-gradient(45deg, #2260ff, #b5c9fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60%{
    background: linear-gradient(45deg, #b5c9fc, #1a5afc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80%{
    background: linear-gradient(45deg, #1a5afc, #8092f9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: linear-gradient(90deg, #8092f9, #0e51fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.hero{
  font-size: 1.2rem;
}
.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
  padding: 10px;
  height: 50%;
  border-radius: 10px;
  width: 70vw;
}
.sub1, .sub2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub2{
  position: relative;
}
a{
  text-decoration: none;
  color: #2260ff;
  font-style: oblique;
}
.sub2 img{
  border-radius: 8px;
  width: 80%;
  position: relative;
}
.desc{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

@media (orientation: portrait) {
    .main{
      grid-template-columns: repeat(1, 1fr);
    }
  }
.afro{
    height: 40px;
}
.box1, .box2{
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* From Uiverse.io by Yaya12085 with a few edits*/ 
.radio-inputs {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* From Uiverse.io by SalladShooter with some edits*/ 
button {
  cursor: pointer;
  padding: 1em;
  font-size: 1.1em;
  width: 200px;
  aspect-ratio: 1/0.25;
  color: white;
  background: #2260ff;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 0.5em;
  outline: 0.1em solid #2260ff;
  border: 0;
  box-shadow: 0 0 1em 1em rgba(153, 179, 250, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  font-family:  'Fredoka', "Open Sans";
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1em 0.45em rgba(27, 101, 238, 0.1);
  background: linear-gradient(45deg, #2260ff, #8092f9);
  outline: 0;
}
/* added */
button:active{
  background-color: #0e51fa;
  transform: scale(0.8);
}

#loading {
 --speed-of-animation: 0.9s;
 --gap: 6px;
 --first-color: #4c86f9;
 --second-color: #49a84c;
 --third-color: #f6bb02;
 --fourth-color: #f6bb02;
 --fifth-color: #2196f3;
 display: flex;
 position: absolute;
 justify-content: center;
 align-items: center;
 width: 100px;
 gap: 6px;
 height: 100px;
}

#loading span {
 width: 4px;
 height: 50px;
 background: var(--first-color);
 animation: scale var(--speed-of-animation) ease-in-out infinite;
}

#loading span:nth-child(2) {
 background: var(--second-color);
 animation-delay: -0.8s;
}

#loading span:nth-child(3) {
 background: var(--third-color);
 animation-delay: -0.7s;
}

#loading span:nth-child(4) {
 background: var(--fourth-color);
 animation-delay: -0.6s;
}

#loading span:nth-child(5) {
 background: var(--fifth-color);
 animation-delay: -0.5s;
}

@keyframes scale {
 0%, 40%, 100% {
  transform: scaleY(0.05);
 }

 20% {
  transform: scaleY(1);
 }
}